@use '../../../../../assets/scss/base/vars' as *;

.question-modal {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: -color;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }
}
