@use '../../../../assets/scss/base/vars' as *;

.terms-content {
  background-color: $white;
  max-height: 60vh;
  overflow-y: auto;
  text-align: left;
  border: 0.125rem solid $gray-primary;
  padding: 0.625rem;
  border-radius: 0.625rem;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: rgba($gray-secundary, 0.6) transparent;
}
