<div class="card very-small-card">
	<h1>Registrar senha</h1>

	<form class="row" [formGroup]="form" (ngSubmit)="reset()">
		<app-input
			formControlName="password"
			label="Senha"
			type="password"
			id="password"
			placeholder="Informe a senha"
			[required]="true"
			[validationMessages]="{
				required: 'Senha é obrigatória',
				minlength: 'A senha deve ter pelo menos 6 caracteres',
			}"
			[control]="form.get('password')"
		></app-input>

		<app-input
			formControlName="confirmPassword"
			label="Nova senha"
			type="password"
			id="confirmPassword"
			placeholder="Confirme a senha"
			[required]="true"
			[validationMessages]="{
				required: 'Confirmação de senha é obrigatória',
				passwordsMismatch: 'As senhas não coincidem',
			}"
			[control]="form.get('confirmPassword')"
		></app-input>

		<div class="col-12">
			<button class="btn btn-primary col-12 mt-4" type="submit" [disabled]="form.invalid">Registrar</button>
		</div>
	</form>
</div>
