<ngx-spinner bdColor="#00000080" size="large" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div *ngIf="showLayout; else authContent" class="app-layout">
  <app-navbar></app-navbar>
  <div class="app-main">
    <app-header></app-header>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<ng-template #authContent>
  <router-outlet></router-outlet>
</ng-template>
