@use '../../../../assets/scss/base/media-queries' as *;

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .code-inputs {
    display: flex;
    gap: 0.625rem;
    margin: 1.25rem 0;
    flex-wrap: wrap;
    justify-content: center;

    .code-input {
      width: 2.5rem;
      height: 3.125rem;
      text-align: center;
      font-size: 1.5rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.5rem;

      @include for-phone-only {
        width: 2.25rem;
        height: 2.75rem;
        font-size: 1.25rem;
      }
    }
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
