@use '../../../../assets//scss//base/vars' as *;

.options {
  margin: 1rem 0 0.6rem 0;
}

.login {
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

.login span {
  color: $blue-primary;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.terms-label {
  input {
    margin-bottom: -0.1rem;
  }

  span {
    color: $green-primary;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
}
