<div class="login-container">
  <div class="login-card">
    <h1>EthicalSoft Compliance</h1>
    <p>Por favor, entre com seu email e senha</p>
    <form>
      <div class="form-group">
        <label for="email">E-mail <span class="text-red">*</span></label>
        <input type="email" id="email" placeholder="Informe seu e-mail" />
      </div>

      <div class="form-group">
        <label for="password">Senha <span class="text-red">*</span></label>
        <input type="password" id="password" placeholder="Informe sua senha" />
      </div>

      <div class="options">
        <label class="text-blue font-weight-bold">
          <span class="d-flex justify-content-center">
            <input type="checkbox" /> Manter sessão
          </span>
        </label>
        <a href="#">Esqueci minha senha</a>
      </div>

      <button class="btn btn-primary" type="submit">Entrar</button>
    </form>
    <p class="register">É um analista e deseja utilizar o software no seu projeto? <a href="#">Registre-se!</a></p>
  </div>
</div>
