<div class="form-group">
  <label [attr.for]="id" [class]="labelClasses">
    {{ label }} <span *ngIf="required" class="text-red">*</span>
  </label>

  <div class="select-wrapper">
    <div
      class="select-trigger"
      [attr.id]="id"
      [tabindex]="disabled ? -1 : 0"
      [class.is-open]="isOpen"
      [class.is-invalid-border]="control?.touched && control?.invalid"
      [class.disabled]="disabled"
      (click)="toggleDropdown($event)"
      (blur)="onBlur()"

      [attr.aria-label]="label"
      aria-haspopup="listbox"
      [attr.aria-expanded]="isOpen"
    >
      <span *ngIf="!selectedLabel" class="placeholder-text">{{ placeholder }}</span>
      <span *ngIf="selectedLabel" class="selected-text">{{ selectedLabel }}</span>

      <div class="icons-wrapper">
        <button
          *ngIf="allowClear && value !== null && !disabled"
          type="button"
          class="clear-btn"
          (click)="clearSelection($event)"
          tabindex="-1"
          aria-label="Limpar seleção"
        >
          <img src="assets/icons/error.svg" alt="" />
        </button>
        <img
          class="chevron-icon"
          [class.is-open]="isOpen"
          src="assets/icons/angle-down.svg"
          alt="Abrir seletor"
        />
      </div>
    </div>

    <div class="select-panel" *ngIf="isOpen">
      <ul class="select-options-list" role="listbox">
        <li
          *ngFor="let option of options"
          class="select-option"
          role="option"
          [class.is-selected]="option.value == value"
          [attr.aria-selected]="option.value == value"
          (click)="selectOption(option)"

          [tabindex]="0"
          (keydown.enter)="selectOption(option)"
          (keydown.space)="selectOption(option)"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex justify-content-start" *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngFor="let error of getErrorMessages()">
      <span class="is-invalid" [style.white-space]="'pre-line'">{{ error }}</span>
    </div>
  </div>
</div>
