@use '../../../../assets/scss/base/vars' as *;

.social-links {
  a {
    margin: 0 1rem;
    color: $gray-primary;
  }
}

.footer {
  display: flex;
  align-items: start;
  align-content: start;
  justify-content: center;
  flex-grow: 1;
}

.highlightedName {
  color: $green-primary;
  text-decoration: none;
}
