<footer class="footer">
  <small>
    © 2025 made
    by -
    <a class="highlightedName" target="_blank" href="https://github.com/yvesls"> Yves Silva </a>
  </small>
  <div class="social-links">
    <a href="#" target="_blank">
      <i class="ri-github-fill ri-xl"></i>
    </a>
    <a href="#" target="_blank">
      <i class="ri-twitter-fill ri-xl"></i>
    </a>
    <a href="#" target="_blank">
      <i class="ri-codepen-fill ri-xl"></i>
    </a>
    <a href="#" target="_blank">
      <i class="ri-linkedin-box-fill ri-xl"></i>
    </a>
  </div>
</footer>
