@use '../../../../../assets/scss/base/_media-queries' as *;

.bar-chart-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.bar-chart {
  width: 100%;
  min-width: 480px;
  height: 380px;

  @include for-phone-only {
    min-width: 320px;
    height: 260px;
  }
}
