<div class="project-type-modal">
  <h1 class="modal-title">{{ 'projects.type_selection.title' | translate }}</h1>
  <p class="modal-message">
    {{ 'projects.type_selection.message' | translate }}
  </p>

  <div class="type-selection-container">
    <div
      class="type-card"
      [class.selected]="selectedType() === ProjectType.Cascata"
      (click)="selectType(ProjectType.Cascata)"
      (keydown.enter)="selectType(ProjectType.Cascata)"
      (keydown.space)="selectType(ProjectType.Cascata)"
      role="button"
      tabindex="0"
    >
      <h3>{{ 'projects.type.cascata' | translate }}</h3>
      <p>{{ 'projects.type_selection.cascata_desc' | translate }}</p>
    </div>

    <div
      class="type-card"
      [class.selected]="selectedType() === ProjectType.Iterativo"
      (click)="selectType(ProjectType.Iterativo)"
      (keydown.enter)="selectType(ProjectType.Iterativo)"
      (keydown.space)="selectType(ProjectType.Iterativo)"
      role="button"
      tabindex="0"
    >
      <h3>{{ 'projects.type_selection.iterativo_title' | translate }}</h3>
      <p>{{ 'projects.type_selection.iterativo_desc' | translate }}</p>
    </div>
  </div>

  <div class="modal-buttons">
    <button type="button" class="btn btn-secondary" (click)="close()">
      {{ 'common.cancel' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="continue()"
      [disabled]="!selectedType()"
    >
      {{ 'common.continue' | translate }}
    </button>
  </div>
</div>
