<nav class="navbar-container">
  <aside #sidebar id="sidebar" class="sidebar break-point-sm has-bg-image">
    <a id="btn-collapse" class="sidebar-collapser" (click)="collapseSidebar()">
      <i class="ri-arrow-left-s-line"></i>
    </a>
    <div class="image-wrapper">
      <img src="assets/images/logo.png" alt="Sidebar Background" />
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <div class="pro-sidebar-logo">
          <div>P</div>
          <h5>Pro Sidebar</h5>
        </div>
      </div>
      <div class="sidebar-content">
        <div class="menu open-current-submenu">
          <ul>
            <li class="menu-header"><span>GENERAL</span></li>
            <li class="menu-item sub-menu">
              <a href="#" (click)="toggleSubMenu($event)">
                <span class="menu-icon"><i class="ri-vip-diamond-fill"></i></span>
                <span class="menu-title">Components</span>
                <span class="menu-suffix"><span class="badge primary">Hot</span></span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item"><a href="#"><span class="menu-title">Grid</span></a></li>
                  <li class="menu-item"><a href="#"><span class="menu-title">Layout</span></a></li>
                  <li class="menu-item sub-menu">
                    <a href="#" (click)="toggleSubMenu($event)">
                      <span class="menu-title">Forms</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item"><a href="#"><span class="menu-title">Input</span></a></li>
                        <li class="menu-item"><a href="#"><span class="menu-title">Select</span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <div #overlay id="overlay" class="overlay" (click)="closeSidebar()"></div>
</nav>
