@use '../../../../../../assets/scss/base/vars' as *;


:host {
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-primary;

  h2 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: $text-color;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 1.75rem;
    line-height: 1;
    color: $gray-secundary;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-default;

    &:hover {
      color: $text-color;
    }
  }
}

.modal-body {
  margin-bottom: 2rem;

  .template-selector {
    margin-bottom: 1.5rem;
  }

  .loading {
    text-align: center;
    padding: 2rem;
    color: $gray-secundary;
  }
}

.modal-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  .btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: $transition-default;
    font-size: 0.875rem;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.btn-primary {
      background-color: $blue-primary;
      color: $white;

      &:hover:not(:disabled) {
        opacity: 0.9;
      }
    }

    &.btn-secondary {
      background-color: $white-secundary;
      color: $text-color;
      border: 1px solid $gray-primary;

      &:hover {
        background-color: $white;
        border-color: $gray-secundary;
      }
    }
  }
}
