<div class="stage-modal">
  <h2>{{ modalTitle }}</h2>

  <form [formGroup]="form" (ngSubmit)="confirm()">
    <div class="form-grid form-grid-2">
      <app-input
        label="Nome"
        placeholder="Informe o nome"
        formControlName="name"
        [control]="form.get('name')"
        [required]="true"
      ></app-input>

      <app-input
        label="Peso"
        type="number"
        placeholder="1"
        formControlName="weight"
        [control]="form.get('weight')"
        [required]="true"
      ></app-input>
    </div>

    <div class="panel-actions">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >
        Confirmar
      </button>
    </div>
  </form>
</div>
