@use '../../../../../assets/scss/base/vars' as *;

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 0.0625rem solid $gray-primary;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: $gray-secundary;
  }
}

.modal-body {
  padding: 1.5rem;

  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;

      &.full-width {
        grid-column: 1 / -1;
      }
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  border-top: 0.0625rem solid $gray-primary;
}
