<div class="modal-header">
  <h2>{{ modalTitle }}</h2>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group">
        <app-input
          [label]="'projects.fields.name' | translate"
          [required]="true"
          formControlName="firstName"
          [control]="form.get('firstName')"
          type="text"
          [placeholder]="'projects.form.first_name_placeholder' | translate"
          [autoCapitalize]="true"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'projects.fields.last_name' | translate"
          [required]="true"
          formControlName="lastName"
          [control]="form.get('lastName')"
          type="text"
          [placeholder]="'projects.form.last_name_placeholder' | translate"
          [autoCapitalize]="true"
        ></app-input>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <app-input
          [label]="'projects.fields.email' | translate"
          [required]="true"
          formControlName="email"
          [control]="form.get('email')"
          type="email"
          [placeholder]="'projects.form.email_placeholder' | translate"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'projects.fields.weight' | translate"
          [required]="true"
          formControlName="weight"
          [control]="form.get('weight')"
          type="number"
          [placeholder]="'projects.form.weight_placeholder' | translate"
        ></app-input>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group full-width">
        <app-multi-select
          [label]="'projects.fields.charges' | translate"
          [required]="true"
          formControlName="roleIds"
          [control]="form.get('roleIds')"
          [options]="roleOptions"
          [placeholder]="'projects.form.charges_placeholder' | translate"
        ></app-multi-select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">
    {{ 'common.cancel' | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="form.invalid">
    {{ 'common.confirm' | translate }}
  </button>
</div>
