<div class="create-stage-modal">
  <h2>{{ 'projects.stage_iterative.create_title' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="confirm()">
    <div class="form-grid form-grid-2">
      <app-input
        [label]="'projects.fields.name' | translate"
        [placeholder]="'projects.form.name_placeholder' | translate"
        formControlName="name"
        [control]="form.get('name')"
        [required]="true"
      ></app-input>

      <app-input
        [label]="'projects.stage_iterative.weight_label' | translate"
        type="number"
        placeholder="1"
        formControlName="weight"
        [control]="form.get('weight')"
        [required]="true"
      ></app-input>
    </div>

    <div class="panel-actions">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >
        {{ 'common.confirm' | translate }}
      </button>
    </div>
  </form>
</div>
