<nav *ngIf="totalPages() > 1" class="pagination-container" aria-label="Project pagination">
  <ul class="pagination-list">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="onPrevious()" [disabled]="currentPage === 1" aria-label="Previous page">
        &laquo;
      </button>
    </li>

    <li *ngFor="let page of pages()"
        class="page-item"
        [class.active]="page === currentPage"
        [class.ellipsis]="page === '...'">
      <button *ngIf="page !== '...'; else ellipsis"
             class="page-link"
             (click)="onPageChange(page)"
             [attr.aria-current]="page === currentPage ? 'page' : null">
        {{ page }}
      </button>
      <ng-template #ellipsis>
        <span class="page-link-ellipsis">...</span>
      </ng-template>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages()">
      <button class="page-link" (click)="onNext()" [disabled]="currentPage === totalPages()" aria-label="Next page">
        &raquo;
      </button>
    </li>
  </ul>
</nav>
