@use '../../../../assets/scss/base/vars' as *;

.filter-card {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  .filter-grid {
    display: grid;
    gap: 1rem;
    align-items: flex-end;
  }

  .filter-actions {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
  }
}
