@use '../../../../assets//scss//base/vars' as *;

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0.6rem 0;
}

.register {
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

.register a {
  color: $blue-primary;
  text-decoration: none;
  font-weight: bold;
}

