<div class="form-group">
  <label [attr.for]="id" [class]="labelClasses">
    {{ label }}
    @if (required) {
      <span class="text-red">*</span>
    }
  </label>

  <div
    class="input-wrapper"
    [class.is-invalid-border]="control?.touched && control?.invalid"
    [class.has-icon]="type === 'password'"
  >
    <input
      [attr.id]="id"
      [attr.type]="currentType"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      (focus)="onFocus()"
      [ngClass]="[inputClasses]"
      [disabled]="disabled"
      [attr.readonly]="readonly ? '' : null"
    />

    @if (type === 'password') {
      <button
        type="button"
        class="input-icon-btn"
        (click)="togglePasswordVisibility()"
        tabindex="-1"
      >
        <img
          [src]="isPasswordVisible ? 'assets/icons/eye-slash.svg' : 'assets/icons/eye.svg'"
          alt="Alternar visibilidade da senha"
        />
      </button>
    }
  </div>

  @if (control && control.errors && (control.dirty || control.touched)) {
    <div class="d-flex justify-content-start">
      @for (error of getErrorMessages(); track error) {
        <span class="is-invalid" [style.white-space]="'pre-line'">{{ error }}</span>
      }
    </div>
  }
</div>
