<div class="form-group">
  <label [attr.for]="id" [class]="labelClasses">
    {{ label }} <span *ngIf="required" class="text-red">*</span>
  </label>

  <div class="input-wrapper">
    <input
      [attr.id]="id"
      [attr.type]="currentType" [placeholder]="placeholder"
      [ngClass]="[inputClasses, control?.touched && control?.invalid ? 'is-invalid-border' : '']"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />

    <button
      *ngIf="type === 'password'"
      type="button"
      class="password-toggle-btn"
      (click)="togglePasswordVisibility()"
      tabindex="-1"
    >
      <img
        [src]="isPasswordVisible ? 'assets/icons/eye-slash.svg' : 'assets/icons/eye.svg'"
        alt="Alternar visibilidade da senha"
      />
    </button>
  </div>

  <div class="d-flex justify-content-start" *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngFor="let error of getErrorMessages()">
      <span class="is-invalid" [style.white-space]="'pre-line'">{{ error }}</span>
    </div>
  </div>
</div>
