@use '../../../../assets/scss/base/vars' as *;

.input-wrapper {
  position: relative;
  padding-right: 2.5rem;

  .password-toggle-btn {
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    width: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      width: 1.625rem;
      height: 1.625rem;
      opacity: 0.6;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}
