<section class="settings">
	<header class="settings__header">
		<h1>{{ 'settings.title' | translate }}</h1>
		<p>{{ 'settings.subtitle' | translate }}</p>
	</header>

	<div class="settings__card">
		<div class="settings__card-content">
			<h2>{{ 'settings.security.title' | translate }}</h2>
			<p>{{ 'settings.security.subtitle' | translate }}</p>
		</div>
		<a class="settings__action" routerLink="/settings/reset-password">{{ 'settings.security.change_password' | translate }}</a>
	</div>
</section>
