<aside [class.collapsed]="isCollapsed" class="sidebar">
  <a class="sidebar-toggler" (click)="toggleSidebar()">
    <img src="../../../../assets/icons/{{ isCollapsed ? 'right' : 'left' }}.svg" alt="Toggle Sidebar" width="12">
  </a>

  <div class="sidebar-layout">
    <div class="sidebar-header">
      <div class="logo">
        <img src="../../../../assets/images/logo.png" alt="logo">
      </div>
      <h5 class="m-0 p-0">Ethicalsoft Compliance</h5>
    </div>

    <div class="sidebar-content">
      <nav class="menu">
        <ul>
          <li *ngFor="let item of menuItems$ | async" class="menu-item" [routerLink]="item.route">
            <span class="menu-icon">
              <img *ngIf="item.icon" src="../../../../assets/icons/{{ item.icon }}.svg" alt="{{ item.label }}">
            </span>
            <span class="menu-title">{{ item.label }}</span>
          </li>
        </ul>
      </nav>
    </div>

    <div class="sidebar-footer">
      <div class="exit">
        <button (click)="exit()" aria-label="Abrir notificações" class="unstyled-btn">
          <img src="../../../../assets/icons/exit.svg" alt="exit">
        </button>
      </div>
      <div class="footer-box">
        <span>Version 1.0</span>
      </div>
    </div>
  </div>
</aside>
