@use '../base/vars' as *;

button,
.btn,
.btn-primary,
.btn-secundary,
.btn-icon {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
	line-height: normal;
	border-radius: 0;
	box-shadow: none;
	text-align: inherit;
	min-height: auto;
	min-width: 0;
}

button:disabled,
.btn:disabled {
	opacity: 1;
}

.btn.btn {
	height: 3rem;
	border: none;
	border-radius: $radius-default;

	&:hover,
	&:active,
	&:focus {
		background-color: $blue-secundary;
		border-color: $blue-primary;
	}

	&:disabled {
		background-color: $button-bg;
		border-color: $button-bg;
	}

	--bs-btn-hover-border-color: $blue-primary;
}

.btn-primary.btn-primary {
	background-color: $blue-primary;
	color: $white;
	border-color: $blue-primary;

	&:hover,
	&:active,
	&:focus {
		background-color: $blue-secundary;
		border-color: $blue-primary;
		color: $white;
	}

	--bs-btn-active-bg: $blue-primary;
	--bs-btn-active-border-color: $blue-primary;

	--bs-btn-disabled-bg: $gray-secundary;
	--bs-btn-disabled-border-color: $gray-secundary;

	&.btn-icon img {
		filter: brightness(0) invert(1);
	}
}

.btn-secundary.btn-secundary {
	background-color: $green-primary;
	color: $white;
	border-color: $green-primary;

	&:hover,
	&:active,
	&:focus {
		background-color: $green-secundary;
		border-color: $green-primary;
		color: $white;
	}

	--bs-btn-active-bg: $green-primary;
	--bs-btn-active-border-color: $green-primary;

	--bs-btn-disabled-bg: $gray-primary;
	--bs-btn-disabled-border-color: $gray-primary;

	&.btn-icon img {
		filter: brightness(0) invert(1);
	}
}

.btn-icon.btn-icon {
	width: 3rem;

	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 1.875rem;
		height: 1.875rem;
	}
}
