@use '../base/vars' as *;
@use 'sass:color';

button,
.btn,
.btn-primary,
.btn-secundary,
.btn-icon {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
	line-height: normal;
	border-radius: 0;
	box-shadow: none;
	text-align: inherit;
	min-height: auto;
	min-width: 0;
}

button:disabled,
.btn:disabled {
	opacity: 1;
}

.btn.btn {
	height: 3rem;
	border: none;
	border-radius: $radius-default;

	&:hover,
	&:active,
	&:focus {
		background-color: $blue-secundary;
		border-color: $blue-primary;
	}

	&:disabled {
		background-color: $button-bg;
		border-color: $button-bg;
	}

	--bs-btn-hover-border-color: $blue-primary;
}

.btn-primary.btn-primary {
	background-color: $blue-primary;
	color: $white;
	border-color: $blue-primary;

	&:hover,
	&:active,
	&:focus {
		background-color: $blue-secundary;
		border-color: $blue-primary;
		color: $white;
	}

	--bs-btn-active-bg: $blue-primary;
	--bs-btn-active-border-color: $blue-primary;

	--bs-btn-disabled-bg: $gray-secundary;
	--bs-btn-disabled-border-color: $gray-secundary;

	&.btn-icon img {
		filter: brightness(0) invert(1);
	}
}

.btn-secundary.btn-secundary {
	background-color: $green-primary;
	color: $white;
	border-color: $green-primary;

	&:hover,
	&:active,
	&:focus {
		background-color: $green-secundary;
		border-color: $green-primary;
		color: $white;
	}

	--bs-btn-active-bg: $green-primary;
	--bs-btn-active-border-color: $green-primary;

	--bs-btn-disabled-bg: $gray-primary;
	--bs-btn-disabled-border-color: $gray-primary;

	&.btn-icon img {
		filter: brightness(0) invert(1);
	}
}

.btn-cancel.btn-cancel {
	background-color: $button-bg;
	color: $button-text-color;
	border-color: $button-bg;

	&:hover,
	&:active,
	&:focus {
		background-color: color.adjust($button-bg, $lightness: -6%);
		border-color: color.adjust($button-bg, $lightness: -6%);
		color: $button-text-color;
	}

	&:disabled {
		background-color: $gray-primary;
		border-color: $gray-primary;
		color: $button-text-color;
	}

	--bs-btn-active-bg: color.adjust($button-bg, $lightness: -6%);
	--bs-btn-active-border-color: color.adjust($button-bg, $lightness: -6%);
}

.btn-icon.btn-icon {
	width: 3rem;

	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 1.875rem;
		height: 1.875rem;
	}
}

/* Botões compactos para notificações */
.btn-notification {
	border: 1px solid $blue-primary;
	background-color: $white;
	color: $blue-primary;
	font-size: 0.85rem;
	font-weight: 600;
	padding: 0.25rem 0.65rem;
	border-radius: $radius-default;
	line-height: 1.2;
	transition: $transition-default;
	min-height: auto;
	min-width: auto;

	&:hover,
	&:focus {
		background-color: $blue-primary;
		color: $white;
		border-color: $blue-primary;
		text-decoration: none;
	}

	&:active {
		background-color: $blue-secundary;
		border-color: $blue-primary;
		color: $white;
	}

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
