@use '../base/vars' as *;

input[type='checkbox'] {
	appearance: none;
	width: 1.125rem;
	height: 1.125rem;
	border: 1.5px solid $blue-primary;
	border-radius: 0.3125rem;
	background-color: $white;
	margin-right: 0.5rem;
	margin-top: 0.18rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $white-secundary;
	}

	&:checked {
		background-color: $blue-primary;
		border-color: $blue-primary;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0.25rem;
			-webkit-mask-image: url('../../icons/check.svg');
			mask-image: url('../../icons/check.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			background-color: white;
		}
	}
}
