@use './base/vars' as *;
@use './components/input';
@use './components/buttons';
@use './components/checkbox';
@use './base/_media-queries' as *;
@use './components/cards' as *;
@use 'bootstrap/scss/bootstrap';
@use 'ngx-spinner/animations/ball-scale-multiple.css';

* {
	font-family: $font-family;
	box-sizing: border-box;

	/* Scrollbar configuration */
	scrollbar-width: auto; /* Firefox */
	scrollbar-color: $blue-primary $white; /* Firefox */

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 0.75rem;
		height: 0.75rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $blue-primary;
		border-radius: 0.625rem;
		border: 3px solid $white;
	}
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

:root {
	--body: $white;
}

html,
body {
	margin: 0;
	padding: 0;

	background-color: var(--body);
	font-size: $font-size;
}

h1 {
	color: $blue-primary;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

p {
	color: $gray-secundary;
	font-size: 0.9rem;
}

small {
	font-size: 0.7rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
}

.text-blue {
	color: $blue-primary;
}

.text-red {
	color: $red;
}

.link {
	color: $blue-secundary;
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		color: $gray-secundary;
	}
}

.unstyled-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

/* Layout */

:host {
	display: grid;
	grid-template-columns: var(--sidebar-width) 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	width: 100%;
	transition: grid-template-columns 0.3s ease-in-out;

	@include for-tablet-landscape-down {
		grid-template-columns: 0 1fr;
	}
}

:root {
	--sidebar-width: 14.375rem;
	--sidebar-collapsed-width: 6.25rem;

	@include for-tablet-down {
		--sidebar-width: 0px;
		--sidebar-collapsed-width: 0px;
	}

	@include for-phone-only {
		--sidebar-width: 0px;
		--sidebar-collapsed-width: 0px;
	}
}

app-sidebar {
	grid-column: 1;
	grid-row: 1 / span 3;
	width: var(--sidebar-width);
	transition: width 0.3s ease-in-out;

	@include for-tablet-landscape-down {
		&.opened {
			display: block;
			width: var(--sidebar-width);
		}
	}
}

.app-container {
	grid-column: 2;
	grid-row: 1 / span 3;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	overflow: hidden;
	transition: margin-left 0.3s ease-in-out;

	@include for-tablet-landscape-down {
		margin-left: 0;
		width: 100%;
		grid-column: 1 / span 2;
	}
}

app-header {
	grid-row: 1;
	height: 6vh;
	background: $white;
	display: flex;
	align-items: center;

	@include for-phone-only {
		height: auto;
		min-height: 3.125rem;
	}
}

.app-content {
	grid-row: 2;
	overflow-y: auto;
	background: $gray-tertiary;
	padding: 2rem;

	@include for-tablet-down {
		padding: 1.5rem;
	}

	@include for-phone-only {
		padding: 1rem;
	}
}

app-footer {
	grid-row: 3;
	height: 4vh;
	background: $gray-tertiary;
	width: 100%;

	@include for-phone-only {
		height: auto;
		min-height: 2.5rem;
	}
}

.layout-container {
	grid-template-columns: var(--sidebar-width) 1fr;

	@include for-tablet-landscape-down {
		grid-template-columns: 0 1fr;
	}
}

.layout-container .app-container {
	margin-left: var(--sidebar-width);

	@include for-tablet-landscape-down {
		margin-left: 0;
	}
}

.layout-container.sidebar-collapsed .app-container {
	margin-left: var(--sidebar-collapsed-width);

	@include for-tablet-landscape-down {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.layout-container {
		grid-template-columns: var(--sidebar-width) 1fr;
	}

	.layout-container.sidebar-collapsed {
		grid-template-columns: var(--sidebar-collapsed-width) 1fr;
	}
}

.auth-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Modal */
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000080;

	.modal-content {
		background: $background-color;
		border-radius: $radius-default;
		padding: 2.5rem;
		text-align: center;
		box-shadow: $box-shadow-primary;
		position: relative;
		opacity: 0;
		transform: scale(0.9);
		animation: fadeInScale 0.3s ease-out forwards;
	}

	&.very-small-card .modal-content {
		width: 32vw;
	}

	&.small-card .modal-content {
		width: 42vw;
	}

	&.medium-card .modal-content {
		width: 62vw;
	}

	&.large-card .modal-content {
		width: 82vw;
	}

	.close {
		position: absolute;
		top: 0.625rem;
		right: 0.9375rem;
		background: none;
		border: none;
		font-size: 1.125rem;
		font-weight: bold;
		cursor: pointer;
		outline: none;
	}

	.modal-icon {
		margin: 0.625rem auto;
		width: 4.375rem;
		height: 4.375rem;
	}

	.modal-title {
		font-size: 1.25rem;
		font-weight: bold;
		margin-bottom: 0.625rem;
	}

	.modal-message {
		font-size: 0.875rem;
		color: $text-color;
		margin-bottom: 0.9375rem;
	}

	.modal-buttons {
		display: flex;
		justify-content: center;
		gap: 0.625rem;

		button {
			border: none;
			padding: 0.5rem 0.75rem;
			border-radius: 5px;
			cursor: pointer;
			font-size: 0.875rem;
		}

		.btn-cancel {
			background: $button-bg;
			color: $button-text-color;
		}

		.btn-confirm {
			background: $red;
			color: white;
		}
	}
}

.form-grid {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;

  &.form-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.form-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.form-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.separation-line {
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-bottom: 1px solid $white-secundary;
}

@keyframes fadeInScale {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOutScale {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.9);
	}
}
